body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

form {
  margin-bottom: 2vmin;
}

#new-movie, #movie-info, #movie-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
