body {
  padding: 50px;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
  font-size: 2vmin;
  background-color: #001833;
  color: white;
  letter-spacing: 0.1vmin;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

form {
  margin-bottom: 2vmin;
}

#new-movie, #movie-info, #movie-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-spacing: 2vmin;
}

#movie-detail {
  background-color: #002652;
  padding: 3vmin;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#movie-detail img {
  max-width: 100%;
  border-radius: 1vmin;
  margin: 0 auto 2vmin;
}

#movie-detail h3 {
  font-size: 3vmin;
  margin: 0 auto 2vmin;
}

#movie-detail p {
  margin-bottom: 2vmin;
  text-align: left;
  max-width: 36%;
  padding-left: 2vmin;
}

#movie-detail span {
 font-weight: bold;
 background-color: #ffb700;
 color: black;
 border-radius: 10%;
 padding: 0.4vmin;
 margin-right: 2vmin;
 padding-left: 1vmin;
 padding-right: 1vmin;
}

button, input {
  font-family: inherit;
  font-size: 2vmin;
  font-weight: bold;
}

#new-movie button {
  display: inline-block;
  padding: 1vmin;
  margin: 1vmin;
  background-color: #ffb700;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  outline: none;
}

#new-movie button:hover {
  background-color: #ffd200;
}

button#like, button#delete {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

button#like img {
  width: 2vmin;
  height: auto;
}

button#delete img {
  width: 2vmin;
  height: auto;
}

button:active {
  background-color: #00408b;
}

.grayscale {
  filter: grayscale(100%);
}

th {
  font-size: 2.5vmin;
}

td {
  vertical-align: middle;
  text-align: center;
}

form {
  display: inline-block;
  margin: 0;
  padding: 0;
}
