<%- include('../partials/header') %>

<h3>Add a new movie:</h3>

<form>
  <input type="text" placeholder="Movie Title" required />
  <button type="submit">Search</button>
</form>

<%- include('../partials/footer') %>
