<%- include('../partials/header') %>

<section id="new-movie">
  <h3>Add a new movie:</h3>

  <form>
    <input type="text" placeholder="Movie Title" required />
    <button type="submit">Search</button>
  </form>

  <div id="movie-info"></div>
</section>

<%- include('../partials/footer') %>
